<h1>Contact Log</h1>
<table>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= link_to (contact.name), contact %>
        </td>
        <td>
          <%= contact.email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="link">
  <%= link_to "Add new contact", new_path %>
</div>
